---
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro';
import Article from '../components/Article.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Valen portfolio">
	<div class="bg-fix"></div>
	<div class="horizontal">
	</div>
	<div class="vertical">
	</div>
			<Nav/>
			<div class="anim">

				<h1  class="
				text-center   text-2xl  lg:text-6xl md:text-4xl lg:w-[1000px] md:w-[600px] w-[360px] lg:mt-[200px] mx-auto mt-[100px] ">
			Valentin Berger
			</h1>
			<h1  class="
				text-center   text-2xl  	lg:text-6xl md:text-4xl lg:w-[1000px] md:w-[600px] w-[360px] 
				 mx-auto  ">
				Fullstack Developer
			</h1>
		</div>
				<span id="proyectos"></span>
				<h2 class="text-center text-2xl md:text-4xl mt-[100px]" >Proyectos</h2>
				
				<section class="flex flex-col w-max relative items-center  mx-auto"  >
				
					<Article  urls={[{url:"https://github.com/belluchii/tee-z-front", name:"front"}, {url: "https://github.com/belluchii/tee-z-back", name:"back"}, {url:"https://tee-z.netlify.app/", name:"preview"}]} title="tee-z.app" mwidth="w-[300px] h-[300px]" icons={["fa-brands fa-react", "fa-brands fa-css3-alt", "fa-brands fa-envira"]} src={"/z-render.webp"} content=
					"Desarrollé un proyecto personal de un e-commerce de remeras unisex para jóvenes, donde puse a prueba mis habilidades fullstack. Implementé el backend utilizando Express y lo integré con el frontend desarrollado en React"
					/>
				
						<Article  urls={[{url:"https://github.com/alba-97/ceibo-front", name:"front"}, {url: "https://github.com/alba-97/ceibo-back", name:"back"}]} title="el-club.app" src={"/el-club.webp"} mwidth="w-[300px] h-[300px]" icons={["fa-solid fa-mobile-screen", "fa-brands fa-envira", "fa-brands fa-trello"]} content=
						"Práctica profesional en Ceibo Digital, donde durante un mes nos sumergimos en el aprendizaje de React Native y otras tecnologías desde cero, culminando en la creación exitosa de una aplicación para gestionar eventos."
						/>
			
					
					
						<Article  urls={[{url:"https://github.com/josecitoMoya/fast-delivery-front", name:"front"}, {url: "https://github.com/noahpark24/fast-delivery-back", name:"back"}]} title="fast-delivery.app" mwidth="w-[300px] h-[300px]" icons={["fa-brands  fa-aws ", "fa-brands fa-docker ", "fa-brands fa-figma"]} src={"/fast.webp"} content=
						"página web de envío de paquetes, donde colaboramos con un Scrum Master y un cliente. Incorporamos exitosamente tecnologías como TypeScript, Next.js, Docker y otras para mejorar la plataforma."
						/>
				
				
				</section>
				  <span id="tecnologias" ></span>
					<h2 class="text-center text-4xl mt-[120px]">Tecnologias</h2>
				
				<section class="grid grid-cols-3  place-items-center py-10">
				  <i class="fa-brands vpshad fa-js  fa-5x py-10"></i>
					<i class="fa-brands vpshad fa-css3-alt fa-5x py-10"></i>
					<i class="fa-brands vpshad fa-html5 fa-5x py-10"></i>
					<i class="fa-brands vpshad fa-react fa-5x py-10"></i>
					<i class="fa-brands vpshad fa-node-js fa-5x py-10"></i>
					<i class="fa-brands vpshad fa-aws fa-5x py-10"></i>
					<i class="fa-brands vpshad fa-figma fa-5x py-10"></i>
					<i class="fa-brands vpshad fa-npm fa-5x py-10"></i>
					<i class="fa-brands vpshad fa-docker fa-5x py-10"></i>
					<i class="fa-brands vpshad fa-envira fa-5x py-10"></i>
					<i class="fa-brands vpshad fa-trello fa-5x py-10"></i>
					<i class="fa-solid vpshad  fa-database fa-5x py-10"></i>
				</section>
					<span id="sobreMi" class=""></span>
					<h2 class="text-center text-4xl  ">Sobre mi</h2>
					<div class="w-full flex  justify-center inline-block py-10">
						<article class=" box-shad mt-10 p-[5px] w-max bg-purple border border-black shadow-md">
							<div class="flex justify-between   mb-[5px] ">
								<h3 class="inline-block font-medium ">sobre mi.txt</h3>
								<button class="font-medium text-center text-black border border-black bg-white px-[5px]">X</button>
							</div>
							<header class="bg-vanilla border border-black  flex  ">
								 <div class="my-auto w-[300px] md:w-[600px] p-[10px] my-10 h-1/2 text-xl vapshad text-black  font-medium font-lucidity">
									<p class="pt-2" >
										¡Hola! Soy Valen, graduado en <span class="text-shadow">Desarrollo Fullstack</span> en Plataforma 5.
									</p>
									<p class="pt-2">
										Durante el transcurso de mi educación y las prácticas en las que participé, tuve la valiosa oportunidad de colaborar en <span class="text-shadow">diversos equipos</span>, desarrollando asi mis habilidades de escucha y comunicación, contribuyendo así a mejorar los procesos y a relacionarme con otros desarrolladores .
									</p>
									<p class="pt-2">
										La programación es mi <span class="text-shadow">pasión</span>, y mi enfoque en el aprendizaje <span class="text-shadow">autodidacta</span> me mantiene al tanto de las últimas tecnologías.
									</p>
									<p class="pt-2">
										Mi objetivo actual es obtener mi primera experiencia laboral, donde pueda refinar tanto mis habilidades técnicas como las habilidades blandas, cruzando asi la línea entre hacer lo que me apasiona y trabajar en lo que amo.
									</p>
									<p class="pt-2">	
										Si deseas conocer más sobre mí, no dudes en conectarte conmigo en <span class="text-shadow">LinkedIn</span> o enviarme un correo electrónico. Estoy abierto a nuevas conexiones y oportunidades.
									</p>
									</div> 
									</header>
						</article>
					</div>
					<Footer />			
				
	
</Layout>
<script>
	const hov = document.querySelectorAll(".hov-img")
	const disabled = document.querySelectorAll(".disabled")
 
	for(let i = 0; i < hov.length; i++){

		hov[i]?.addEventListener("mouseover", ()=>setTimeout(()=>{
			disabled[i]?.classList.remove("disabled")
			
		 }, 1))
		 
		 hov[i]?.addEventListener("mouseout", ()=> setTimeout(()=>{
			 disabled[i]?.classList.add("disabled")
		 }, 1))
	 }
 </script>

<style>
	.bg-fix{
		background-image: url("https://preview.redd.it/1ziecyouvwk71.jpg?width=1920&format=pjpg&auto=webp&s=6994802363b156a1fd09ce18ac9c8594750b31fa");
		width: 100%;
		height: 140%;
		z-index: -1;
		position: fixed;
		top: 0;
		left: 0;
	}
	.text-up{
		font-weight: 400; 
		font-size: 24px;
	}
	
	.contact{
		position: fixed;
		left: 20px;
		color: #000;
		bottom: 20px;
		padding: 2px 7px;
		z-index: 10;
		font-size: 40px;
	}

	
	.title-shadow{
		text-shadow: 3px 0px 1px var(--strong-pink);
	}
	.text-shadow{
		text-shadow: -1px 0px 1px var(--strong-pink);
	}
	.box-shad{
    box-shadow: 10px 10px 2px #0004;
  }
	.bg{
		background: var(--purple)	;
	}
	h1 {
		
		font-family: "Ungai";
		text-shadow: -2px -2px 1px var(--strong-pink), 2px 2px 1px var(--lightblue), 0px 0px 5px #000;
	}
	.vpshad{
		filter: drop-shadow(-2px -2px 0px var(--strong-pink)) drop-shadow(2px 2px 0px var(--lightblue))
	}
	 h2	{
		font-family: "Ungai";
		text-shadow: -2px -2px 1px var(--strong-pink), 2px 2px 2px var(--lightblue), 0px 0px 5px #000;
	}
	
	.font-lucidity{
		font-family: "lucidity" ;
		
	}
	.anim{
		animation: pulse 6s infinite alternate ease-in-out;
	}
	

	@keyframes pulse{
		0%{
			rotate: -10deg;
			scale: 1;
		}
		50%{
			scale: .8;
		}
		100%{
			rotate: 10deg;
			scale: 1;
		}
	}
</style>