<footer class="py-5">
  <div class="bg-purple p-3  w-max mx-auto rounded-md shadow">
    <p class="font-medium sm:text-sm text-xs">©2024 Valentin Berger. Casi todos los derechos reservados</p>
  </div>
</footer>