<footer class="py-5">
  <div class="bg-purple p-3  w-max mx-auto box-shad border border-black">
    <p class="font-medium sm:text-sm text-xs">©2024 Valentin Berger. Casi todos los derechos reservados</p>
  </div>
</footer>

<style> 
  .box-shad{
    box-shadow: 5px 5px 2px #0004
  }
</style>