<nav class="bg-purple w-full md:h-[100px] sticky top-0 z-10 shadow-md">
  <ul class="flex  md:h-[100px] w-full items-center justify-evenly text-l  md:text-2xl ">
    <li class="hover:text-purple duration-100 ease-in-out hover:bg-white p-full rounded hover:cursor-pointer">
     <a href="#proyectos" id="sandwich">
       PROYECTOS
      </a> 
    </li>
    <li class="hover:text-purple duration-100 ease-in-out hover:bg-white p-full rounded hover:cursor-pointer">
      <a href="#tecnologias">
        TECNOLOGIAS
      </a>
    </li>
    <li class="hover:text-purple duration-100 ease-in-out hover:bg-white p-full rounded hover:cursor-pointer">
      <a href="#sobreMi">
        SOBRE MI
      </a>
    </li>
  </ul>
</nav>



<style>
  li{
    font-family: "Ungai";
  }
  .p-full{
    padding: 35px 10px;
  }
</style>